.main-Carousel{
    width: 1160px;
   margin-left: 133px;
   margin-right: 133px;
   margin-top: 400px;
    /* margin-bottom: 0px; */
    /* border: 2px solid green; */
    display: flex;
    height: 430px;
    overflow: hidden;
}
.traveCards{
    width: 232px;
    height: 100%;
    margin-right: 28px;
    /* border: 2px solid black; */
}
.traveCardsup{
    height: 73%;
    width: 100%;
    /* border: 2px solid firebrick; */
    position: relative;
    border-radius: 15px;
}
.traveCardslow{
    height: 27%;
    width: 100%;
    /* border: 2px solid lawngreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.traveCardsupPoto{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    /* object-fit: cover; */
    position: absolute;
    z-index: 2;
}
.traveCardsupPoto img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.traveCardsupMarker{
    height: 15%;
    width: 90%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 3;
}
/* .fa-map-marker{
   color: yellow;
   border: 1px solid white;
} */
.traveCardslowBox{
    width: 95%;
    height: 90%;
    /* border: 2px solid indianred; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.traveCardslowupper{
    /* display: flex;
    align-items: center; */
    font-family:'Poppins';
    font-weight: 500;
    height: 45%;
    width: 100%;
    /* border: 1px solid black; */
    color: #3a3a3a;
    /* font-weight: 500; */
    /* line-height: 1.56; */
    font-size: 17px;
    /* -webkit-line-clamp: 2; */
    /* max-height: calc(2 * 16px * 1.56); */
    /* overflow: hidden; */
    display: flex;
}
.traveCardslowmid{
    display: flex;
    align-items: center;
    height: 15%;
    width: 100%;
    /* border: 1px solid black; */
}
.traveCardslowdown{
    display: flex;
    align-items: center;
    height: 25%;
    width: 100%;
    /* border: 1px solid black; */
}
.jet {
    color: gray;
    font-size: medium;
}
.yellow-color {
    color: rgb(255, 145, 0);
}
.pricenow{
    font-size: 16px;
    font-weight: 500;
    font-family:'Poppins';
}
.priceearlier{
    font-size: 9px;
    color: grey;
    font-size: medium;
    font-weight: 500;
    font-family:'Poppins';
}
.traveCardslowupper:hover{
    color: orangered;
}
