.trendsoutta{
    height: 70vh;
    /* border: 2px solid hotpink; */
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin-left: 158px;
    margin-right: 168px;
}
.trends1{
   display: flex;
   justify-content: center;
   /* border: 2px solid indigo; */
   width: 100%;
   height: 8%;
}
.trends2{
    display: flex;
   justify-content: center;
   align-items: center;
   /* border: 2px solid indigo; */
   width: 100%;
   height: 11%;

}
.trends3{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid indigo; */
    width: 100%;
    height: 70%; 
}
.trends4{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid indigo; */
    width: 100%;
    height: 11%;
}
.trends21{
    background-color: orangered;
    width: 9%;
    height: 4%;
    margin-bottom: 10px;

}
.trends31{
    width: 43%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: orangered; */

}
.trends32{
    width: 52%;
    height: 100%;
    /* background-color: orangered; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.trends31cards{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between;
    /* background-color: blueviolet; */
}
.trends31cardsleft{
     width: 22%;
     height: 100%;
     /* background-color: cadetblue; */
}
.trends31cardsleft img{
    width: 100%;
    height: 100%;
}
.trends31cardsright{
    width: 73%;
    height: 100%;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 12px;
}
.trends31cardsrightupper{
    width: 100%;
    height: 70%;
    /* background-color: cornsilk; */
}
.trends31cardsrightlower{
    width: 100%;
    height: 26%;
    /* background-color: cornsilk; */
}
.trends32up{
    width: 100%;
    height: 68%;
    /* background-color: cornsilk; */
}
.trends32up img{
    width: 100%;
    height: 100%;
}
.trends32mid{
    width: 100%;
    height: 17.5%;
    /* background-color: cornsilk; */
    position: relative;
    bottom: 10px;
}
.trends32low{
    width: 100%;
    height: 10.5%;
    /* background-color: cornsilk; */
    position: relative;
    bottom: 15px;

}
.trends4left{
    width: 43%;
    height: 100%;
    /* border: 2px solid hotpink; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.trends4right{
    width: 52%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border: 2px solid hotpink; */
}
.seearticle{
    height: 35%;
    width: 25%;
    font-size: medium;
    color: rgb(23, 5, 5);
    /* border: 2px solid hotpink; */
    position: relative;
    left: 170px;

}
.arro{
    width:30%;
    height: 100%;
    position: relative;
    left:110px;
    bottom: 17px;
    color: orangered;
    font-weight: bolder;
    /* border: 2px solid hotpink; */
}
.seearticle:hover{

    color:orangered;
}
.news:hover{

    color:orangered;
}